<div class="box-filtros">
  <div class="box-filtros-pesquisa">
    <img class="lupa" src="../../../assets/imagens/lupa.png" />
    <input
      class="pesquisa"
      placeholder="Nº do reembolso / Protocolo"
      (keyup)="campoBusca($event)"
      type="text"
    />
  </div>
  <div class="box-filtros-reembolso">
    <select (change)="filtroTerapia($event)">
      <option value="" selected>Todos</option>
      <option
        *ngFor="let terapia of listaNomeTerapia"
        value="{{ terapia }}"
      >
        {{ terapia }}
      </option>
    </select>
  </div>
</div>
<div *ngIf="tabelaMobile" class="box-tabela">
  <ng-container *ngFor="let item of arrayTerapias">
    <div class="box-tabela-info">
      <div class="coluna">
        <label class="coluna-titulo">Terapia</label>
        <p class="coluna-descricao">{{ item.terapia }}</p>
      </div>
      <div class="coluna">
        <label class="coluna-titulo">Data da Terapia</label>
        <p class="coluna-descricao">{{ item.data_terapia | date : 'dd/MM/yyyy' }}</p>
      </div>
      <div class="coluna">
        <label class="coluna-titulo">Valor Pago</label>
        <p class="coluna-descricao">
          {{ converterMoeda(item.valor_pago) }}
        </p>
      </div>
      <div class="coluna">
        <label class="coluna-titulo">Valor do Reembolso</label>
        <p class="coluna-descricao">
          {{ converterMoeda(item.valor_reembolso) }}
        </p>
      </div>
      <div class="coluna">
        <label class="coluna-titulo">Data do Pagamento</label>
        <p class="coluna-descricao">{{ item.data_pagamento | date : 'dd/MM/yyyy'  }}</p>
      </div>
      <div class="coluna">
        <a class="coluna-btn" (click)="modalTabela.infoModal('editar', item)">Editar</a>
      </div>
    </div>
  </ng-container>
</div>
<div *ngIf="tabelaDesktop" class="tabela-desktop">
  <table class="tabela-terapias">
    <thead>
      <tr>
        <th (click)="ordenarTerapia('terapia')">Terapia <img class="icon-sort" src="../../../assets/imagens/seta-ordenacao.png" alt=""></th>
        <th>Data da Terapia</th>
        <th>Valor Pago</th>
        <th>Valor do Reembolso</th>
        <th>Data do Pagamento</th>
        <th (click)="ordenarTerapia('status')">Status <img class="icon-sort" src="../../../assets/imagens/seta-ordenacao.png" alt=""></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let terapia of arrayTerapias | paginate: { itemsPerPage: contador, currentPage: paginaAtual}">
        <tr>
          <td>{{ terapia.terapia }}</td>
          <td>{{ terapia.data_terapia | date : 'dd/MM/yyyy'  }}</td>
          <td>{{ converterMoeda(terapia.valor_pago) }}</td>
          <td>{{ converterMoeda(terapia.valor_reembolso) }}</td>
          <td>{{ terapia.data_pagamento | date : 'dd/MM/yyyy'  }}</td>
          <td
            [class.color-recebido]="terapia.status == 'Recebido'"
            [class.color-pendente]="terapia.status == 'Pendente'"
            [class.color-liberado]="terapia.status == 'Liberado'"
          >
            {{ terapia.status }}
          </td>
          <td (click)="modalTabela.infoModal('editar', terapia)">
            <img
              src="../../../assets/imagens/editar-jogador.svg"
              alt="Editar"
            />
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="text-center mt-3">
  <pagination-controls class="my-pagination" 
  (pageChange)="paginaAtual = $event" 
  previousLabel="" nextLabel=""
    [maxSize]="maxSize" [autoHide]="true">
  </pagination-controls>
</div>
<app-modal #modalTabela></app-modal>
