@import '../../../assets/styles/includes.scss';

.root {
  @include grid();
  font-family: $font-roboto;
  background-image: url('./../../../assets/imagens/Img-Autismo.jpeg');
  background-size: cover;
  background-position-x: -7.5rem;

  .aba-mobile {
    grid-area: 1/1/2/16;
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin: 2rem 2rem 0;

    .active {
      color: $color-white;
      background: $color-terapia;
    }

    &-tabela,
    &-grafico {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 9rem;
      height: 4rem;
      border: 1px solid #c0c0c0;
      border-radius: 1rem 1rem 0px 0px;
      color: $color-terapia;
    }
  }

  .box {
    height: 100vh;
    grid-area: 2/1/29/16;
    @include d-flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #c0c0c0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 10px;
    margin: 0 2rem;

    .app-tabela {
      overflow-y: auto;
    }
  }

  .footer {
    grid-area: 29/1/30/16;
    height: 5.5rem;
    @include d-flex;
    justify-content: center;
    align-items: center;

    &-texto {
      color: $color-white;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: $font-roboto;
    }
  }

  @include fromMediumLarge {
    grid-template-rows: repeat(18, 1fr);
    height: 100vh;
    background-position-x: 0;

    .aba-mobile {
      display: none;
    }

    .box {
      grid-area: 2/2/15/32;
      margin: 3rem 0 0;
      padding: 4rem 2rem;
      border-radius: 10px;
      height: max-content;
    }

    .footer {
      grid-area: 18/1/18/33;
      height: 7rem;

      &-texto {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.3rem;
      }
    }
  }
}

.color-recebido {
  color: #068700;
  font-weight: 700;
}

.color-pendente {
  color: #9a0c00;
  font-weight: 700;
}

.color-liberado {
  color: #ffdb58;
  font-weight: 700;
}

// ESTILOS DOS BOTÕES NA PARTE SUPERIOR
.header-btn {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 1rem 0 0;

  .aba-desktop {
    display: none;
  }

  .btn-novo {
    display: flex;

    .nova-terapia {
      background: $color-terapia;
      border-radius: 1rem;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: $color-white;
      width: 13rem;
      padding: 1rem 1.8rem;
    }
  }

  @include fromMediumLarge {
    justify-content: space-between;
    margin: 0 2rem 4rem;

    .aba-desktop {
      display: flex;
      justify-content: space-between;
      width: 27rem;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.3rem;
      text-align: center;

      .active {
        color: $color-white;
        background: $color-terapia;
      }

      &-tabela,
      &-grafico {
        color: $color-terapia;
        background: transparent;
        border: 1px solid $color-terapia;
        border-radius: 1rem;
        padding: 1rem 0;
        width: 13rem;
        cursor: pointer;

        &:hover {
          color: $color-white;
          background: $color-terapia;
        }
      }
    }

    .btn-novo {
      cursor: pointer;

      .nova-terapia {
        border: 1px solid $color-terapia;
        background: transparent;
        color: $color-terapia;
        text-align: center;
        font-size: 2rem;
        line-height: 2.3rem;
        width: 22rem;

        &:hover {
          background: $color-terapia;
          color: $color-white;
        }
      }
    }
  }
}

/* ESTILO DA PAGINAÇÃO NGX-PAGINATION */
.my-pagination ::ng-deep .ngx-pagination {
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 1rem;

  li {
    border: 1px solid $color-filters;
    width: 3rem;
    height: 3rem;

    a {
      color: $color-terapia;
      height: 100%;
    }
  }

  li a:hover {
    background-color: $color-terapia;
    color: #fff;
  }

  .current {
    background-color: $color-terapia;
    color: #fff;
  }

  .pagination-previous {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .pagination-next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
