<div class="root">
  <div class="aba-mobile">
    <a class="aba-mobile-tabela active" (click)="mostrarTabela()"><p>Tabela</p></a>
    <a class="aba-mobile-grafico" (click)="mostrarGrafico()"><p>Gráfico</p></a>
  </div>
  <!-- Opção Tabela -->
  <div *ngIf="abaTabela" class="box">
    <div class="header-btn">
      <div class="aba-desktop">
        <a class="aba-desktop-tabela active" (click)="mostrarTabela()">
          <p>Tabela</p>
        </a>
        <a class="aba-desktop-grafico" (click)="mostrarGrafico()">
          <p>Gráfico</p>
        </a>
      </div>
      <div class="btn-novo">
        <a class="nova-terapia" (click)="modal.infoModal('novo')">
          <p>Nova Terapia</p>
        </a>
      </div>
    </div>
    <app-tabela class="app-tabela"></app-tabela>
  </div>
  <!-- Opção Gráfico -->
  <div *ngIf="abaGrafico" class="box">
    <app-grafico></app-grafico>
  </div>
  <div class="footer">
    <p class="footer-texto">Desenvolvido por Dallara Tecnology</p>
  </div>
  <app-modal #modal></app-modal>
</div>
