@import 'globals.scss';
@import 'normalize.scss';
@import 'variables.scss';

* {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html {
    font-size: 10px;
    position: relative;
    width: 100%;
    scroll-behavior: smooth;
  }
    
  a {
    text-decoration: none;
  }
  
  :focus {
    outline-color: transparentize($color: $color-blue-link, $amount: 0.3);
  }
  
